@import "~github-markdown-css";
html,body{
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    margin:0;
    padding: 0;
    background: #2e2e48;
}
.site{
    margin: auto;
    max-width: 1280px;
    position: relative;
    padding: 0 40px;
    background: #fff;
}
.site-header{
    margin: 0 -40px;
}
.site-header h1 img{
    display: block;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}
.site-footer{
    padding: 40px 40px 80px;
    margin:  80px -40px 0;
    background: #000;
    color:#fff;
}
.site-footer a{
    color:#fff;
}
h1.post-title{
    margin: 0;
    padding: 0;
    border-bottom: none;
}
.poste-date{

}
.post-header{
    border-bottom: solid 1px #eaecef;
    padding: 40px 0 20px;
    margin: 0 0 20px;
}
.post-next{
    float:right;
    background:#000;
    color:#fff;
    line-height: 1rem;
    font-size: 16px;
    padding: 1rem 2rem;
    text-decoration: none;
    margin: 0 0 0 auto;
    border-radius: 12px;
}
.post-next code{
    display: inline-flex;
    margin: 0 0 0 .5em;
    color: #6d70ea;
    background-color: #101022;
}
:root{
    --deckgo-highlight-code-padding:20px;
    --deckgo-highlight-code-background: #3a3a48;
}